<!DOCTYPE html>
<html>
<head>
    @using Microsoft.AspNet.Identity
    @Scripts.Render("~/scripts/jquery-1.10.2.js")
    @Scripts.Render("~/scripts/jquery.unobtrusive-ajax.js")
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3-theme-blue-grey.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <style>
        html, body, h1, h2, h3, h4, h5 {
            font-family: "Open Sans", sans-serif;
        }
    </style>
</head>
<body class="w3-theme-l5">

    <!-- Navbar -->
    <div class="w3-top">
        <ul class="w3-navbar w3-theme-d2 w3-left-align w3-large">
            <li class="w3-hide-medium w3-hide-large w3-opennav w3-right">
                <a class="w3-padding-large w3-hover-white w3-large w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
            </li>
            <li><a href="/Home/Index/" class="w3-padding-large w3-theme-d4 w3-hover-white"><i class="fa fa-newspaper-o w3-margin-right"></i>News<!--logo--></a></li>
            <li class="w3-hide-small"><a href="/Search/" class="w3-padding-large w3-hover-white" title="Search photos"><i class="fa fa-search"></i></a></li>
            <li class="w3-hide-small"><a href="/UserSearch/" class="w3-padding-large w3-hover-white" title="Search other users"><i class="fa fa-users"></i></a></li>
            <li class="w3-hide-small"><a href="/Create/" class="w3-padding-large w3-hover-white" title="NEW PHOTO UPLOAD"><i class="fa fa-picture-o"></i></a></li>
            
            
            
           

            @Html.Partial("_LoginPartial")
            </ul>
    </div>

    <!-- Navbar on small screens -->
    <div id="navDemo" class="w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:51px">
        <ul class="w3-navbar w3-left-align w3-large w3-theme">
            <li><a href="/Home/Index/">News</a></li>
            <li><a href="/Search/">Search photos</a></li>
            <li><a href="/UserSearch/">Search other users</a></li>
            <li><a href="/Create/">New photo</a></li>

           @if (Request.IsAuthenticated)
           {
               using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
               {
                @Html.AntiForgeryToken()

                  <li>
                        
                            <a href="/Account/">Мой аккаунт</a>
                            
                    </li>


               
               }
           }
           else
           {

            <li>

                <a href="/Account/Login/">Выполнить вход</a>
            </li>
            <li>   <a href="/Account/Register/">Регистрация</a> </li>




           }
        </ul>
    </div>
    @RenderBody()

    <br>

    <!-- Footer -->
    <footer class="w3-container w3-theme-d3 w3-padding-16">
        <h5>DB lab 2016</h5>
    </footer>

    <!--<footer class="w3-container w3-theme-d5">
        <p>Powered by <a href="http://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
    </footer>-->

    <script>
        // Accordion
        function myFunction(id) {
            var x = document.getElementById(id);
            if (x.className.indexOf("w3-show") == -1) {
                x.className += " w3-show";
                x.previousElementSibling.className += " w3-theme-d1";
            } else {
                x.className = x.className.replace("w3-show", "");
                x.previousElementSibling.className =
                x.previousElementSibling.className.replace(" w3-theme-d1", "");
            }
        }

        // Used to toggle the menu on smaller screens when clicking on the menu button
        function openNav() {
            var x = document.getElementById("navDemo");
            if (x.className.indexOf("w3-show") == -1) {
                x.className += " w3-show";
            } else {
                x.className = x.className.replace(" w3-show", "");
            }
        }
    </script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>