@model social.Models.RegisterViewModel

@{
    Layout = "~/Views/_AuthLayout.cshtml";
    ViewBag.Title = "Register";
}

<div style="max-width:600px;" align="left">
    <div class="w3-container w3-teal">
        <h2>Registration Form</h2>
    </div>

    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { enctype = "multipart/form-data", role = "form", Class = "w3-container w3-card-4 w3-padding-12" }))
    {
        @Html.AntiForgeryToken()

        <div>
            @Html.ValidationSummary(false)

            <div class="form-group">
                <label class="w3-text-grey">Username</label>
                @Html.TextBoxFor(model => model.UserName, new { @class = "w3-input w3-border", placeholder = "username" })
            </div>

            <div class="form-group">
                <label class="w3-text-grey">Surname</label>
                @Html.TextBoxFor(model => model.SurName, new { @class = "w3-input w3-border", placeholder = "surname" })
            </div>

            <div class="form-group">
                <label class="w3-text-grey">Email</label>
                @Html.TextBoxFor(model => model.Email, new { @class = "w3-input w3-border", placeholder = "email" })
            </div>

            <div class="form-group">
                <label class="w3-text-grey">Birth Date</label>
                @Html.TextBoxFor(model => model.BirthDay, new { @class = "w3-input w3-border", type = "date" })
            </div>
            <br>
            <div class="form-group">
                <label class="w3-btn w3-white w3-border w3-border-blue">
                    Select Avatar Photo...<input type="file" class="form-control" name="Photo" id="Photo" style="display: none;" />
                </label>
            </div>
            <br>
            <div class="form-group">
                <label class="w3-text-grey">Gender</label>
                <div class="w3-radio">@Html.RadioButtonFor(m => m.Gender, "Man", new { @checked = "" })Man</div>
                <div class="w3-radio">@Html.RadioButtonFor(m => m.Gender, "Woman")Woman</div>
            </div>

            <div class="form-group">
                <label class="w3-text-grey">Passsword</label>
                @Html.TextBoxFor(model => model.Password, new { @class = "w3-input w3-border", placeholder = "password", type = "password" })
            </div>

            <div class="form-group">
                <label class="w3-text-grey">Password confirm</label>

                @Html.TextBoxFor(model => model.PasswordConfirm, new { @class = "w3-input w3-border", placeholder = "pass confirm", type = "password" })
            </div>
            <br>
            <div class="form-group">
                <button type="submit" class="w3-btn w3-padding w3-teal">
                    Create Account
                </button>
                <a class="w3-btn w3-white w3-border w3-border-blue " href="@Url.Action("Login", "Account")">
                    <span class="glyphicon glyphicon-question-sign"></span> I have account
                </a>
            </div>
        </div>
    }
       
   

</div>

